.google-visualization-tooltip {
  visibility: visible !important;
  width: 600px !important;
  height: 300px !important;
  opacity: 0.8 !important;
  background-color: rgb(0,0,0) !important;
  border-radius: 10px !important;
  transition: width 2s;
  border: solid 1px #bdbdbd;
  position: absolute !important;
  font-size: 12px;
  padding: 0px;
  z-index: 10000;
  left:var(--x) !important;
  top:var(--y) !important;
  display:var(--v) !important;
}
svg path[fill-opacity="0.8"] {
  fill: deepskyblue !important;
}

th, td {
  padding: 15px;
  text-align: right;
  color: white;
}
tr:hover {background-color: crimson !important;}
tr:nth-child(even) {background-color: #313131;}
table tbody {
  display:block;
  overflow: auto;
  height: 200px;
}
tr {
  display: block;
}
thead, th, table{
	border-radius: 10px !important;
}

.my-legend .legend-title {
	text-align: left;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 90%;
}
#gradeTooltip{
	visibility: hidden;
	width: 100%;
	opacity: 0.8 !important;
	background-color: rgb(0,0,0) !important;
	border-radius: 6px !important;
	transition: width 2s;
	border: solid 1px #bdbdbd;
	text-align: center;
	padding: 5px 0;
	direction: rtl;
	z-index: 1;
	top: 150%;
	left: 50%;
}

.my-legend .legend-scale ul {
margin: 0;
padding: 0;
float: left;
list-style: none;
}
.my-legend .legend-scale ul li {
display: block;
float: left;
width: 5vw;
max-width: 6.5%;
margin-bottom: 6px;
text-align: center;
font-size: 0.75rem;
list-style: none;
}
.my-legend ul.legend-labels li span {
display: block;
float: left;
height: 15px;
width: 5vw;
}
.my-legend .legend-source {
font-size: 0.75rem;
color: #999;
clear: both;
}
.my-legend a {
color: #777;
}

body{
	background-color: #2A2E33;
	color: white;
	font-family: 'El Messiri', sans-serif;
	width: 1920px;
}

text {
	fill: white;
}

.gradeTooltip {
	  content: " ";
	  position: absolute;
	  bottom: 100%;  /* At the top of the tooltip */
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: transparent transparent black transparent;
}