.hadithTooltip {
  overflow-y:auto;
}
.google-visualization-tooltip {
  visibility: visible !important;
  width: 400px !important;
  height: 300px !important;
  overflow: auto;
  opacity: 0.8 !important;
  background-color: rgb(0,0,0) !important;
  border-radius: 10px !important;
  transition: width 2s;
  border: solid 1px #bdbdbd;
  position: absolute !important;
  font-size: 12px;
  padding: 0px;
  z-index: 10000;
  left:var(--x) !important;
  top:var(--y) !important;
  visibility:var(--v) !important;

}
svg path[fill-opacity="0.8"] {
	fill: deepskyblue;
}

th, td {
  padding: 15px;
  text-align: right;
  color: white;
}
tr:hover {background-color: crimson !important;}
tr:nth-child(even) {background-color: #313131;}